* {
  margin: 0px;
  padding: 0px;
}

html {
}

body {
  position: relative;
  background-color: rgb(89, 18, 30);
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5vh 2vw;
  border: 20px solid rgb(171, 110, 39);
  border-bottom: 3vh solid rgb(171, 110, 39);
  gap: 3vh 0px;
  box-shadow: 15px -15px 1px rgb(99, 50, 10);
  background-color: rgb(171, 110, 39);
}

button {
  cursor: pointer;
}

form {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 250px;
  background-color: #fff;
  display: none;
}

.book-XL {
  width: max(280px, 11vw);
  height: 40vh;
  z-index: 6;
  background-color: rgb(89, 56, 18);
  display: flex;
  justify-content: center;
  align-items: end;
  flex: 1 0 25%;
}

.book {
  width: max(280px, 11vw);
  height: 37vh;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-left: 20px solid rgb(89, 56, 18);
  border-right: 20px solid rgb(89, 56, 18);
}

.book-XL:last-child {
  flex: 1 1 100%;
}
