* {
  margin: 0px;
  padding: 0px;
}

html {
  --main-bg-color: yellow;
}

body {
  position: relative;
  background-color: rgb(89, 18, 30);
  font-family: "Roboto", sans-serif;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  margin: 3vh 2vw;
  border: 20px solid rgb(171, 110, 39);
  border-bottom: 3vh solid rgb(171, 110, 39);
  gap: 3vh 0px;
  box-shadow: 15px -15px 1px rgb(99, 50, 10);
  background-color: rgb(171, 110, 39);
}

button {
  cursor: pointer;
}

form {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 250px;
  background-color: #fff;
  z-index: 7;
}

.hide {
  display: none;
}

.book-XL {
  width: max(280px, 11vw);
  height: 39vh;
  z-index: 6;
  background-color: rgb(89, 56, 18);
  display: flex;
  justify-content: space-around;
  align-items: end;
  flex: 1 0 25%;
}

.book {
  width: max(280px, 11vw);
  height: 37vh;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-left: 20px solid rgb(89, 56, 18);
  border-right: 20px solid rgb(89, 56, 18);
}

.book-XL:last-child {
  flex: 1 1 100%;
  display: none;
}

.title {
  font-size: 36px;
  background-color: rgba(78, 78, 78, 0.428);
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 60px;
}

.author {
  font-size: 24px;
  text-align: right;
  padding-right: 10px;
}

.page {
  font-size: 24px;
  text-align: right;
  padding-right: 10px;
}

h1 {
  text-align: center;
  font-size: max(2.5vw, 30px);
  color: #fff;
  margin-top: 2vh;
}

.addBook {
  height: 15%;
  font-size: 20px;
}
